.postContainer {
    width: 35vw;
    margin-top: 100px;
}

.postHeader {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    height: 50px;
    align-items: center
}

.postMain {
    display: flex;
    gap: 20px;
    flex-direction: column;
}