.sidebarContainer {
    margin: 0;
    padding: 0;
}

.sidebarContainer ul {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    font-size: 20px;
}